@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,500;0,700;1,400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Overpass', sans-serif;
}

:root {
    --orange: hsl(25, 97%, 53%);
    --white: hsl(0, 0%, 100%);
    --lgt-gray: hsl(217, 12%, 63%);
    --md-gray: hsl(216, 12%, 54%);
    --dk-gray: rgb(50, 54, 58);
    --dk-blue:  hsl(213, 19%, 18%);
    --dkr-blue: hsl(216, 12%, 8%);
}


body {
    background-color: var(--dkr-blue);
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main {
    width: 90%;
    padding: 1.5rem;
    background-color: var(--dk-blue);
    border-radius: 20px;
}

.circle {
    background-color: var(--dk-gray);
    border-radius: 50%;
    padding: 12px;
    height: 42px;
    width: 42px;
    text-align: center;
}

h1 {
    padding: 20px 0;
    font-weight: 700;
}

.text {
    color: var(--lgt-gray);
    font-size: 15px;
    font-weight: 500;
    padding-bottom: 1.5rem;
}

ul {
    display: flex;
    justify-content: space-between;
}

ul li {
    list-style-type: none;
    font-size: 15px;
    font-weight: 500;
    color: var(--lgt-gray);
    margin-bottom: 1.5rem;
}

ul li:hover {
    cursor: pointer;
    background-color: var(--md-gray);
}

ul li:active {
    background-color: var(--orange);
}

.button {
    background-color: var(--orange);
    border: none;
    border-radius: 30px;
    width: 95%;
    color: var(--white);
    padding: 15px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 3px;
    display: block;
    margin: 0 auto;
}

.button:hover {
    cursor: pointer;
    background-color: var(--white);
    color: var(--orange);
}



.attribution { 
    font-size: 11px; 
    text-align: center; 
    vertical-align: text-bottom;
    position:absolute;                
    bottom:10px;                        
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}